.main-container{  
    padding: 10px; 
    grid-gap: 10px;      
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }
 
 .location-filter,
 .navigation-option 
 .btn-card{
     flex: 1;
 }
 
 .location-filter { 
     display:flex;  
     padding: 10px; 
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
     border-width: 1px; 
 } 
 
 .location-filter:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
 } 
 
 
 .navigation-option-card {   
     transition: 0.01s; 
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex;  
     background: #00365c;  /* dark-blue color*/
     height: auto;
     width: auto;
     border-radius: 0% 35% 0% 0%;
 }
  
 .navigation-option-title {
     font-size: 12px;
     flex: wrap; 
     font-weight: bold; 
     text-align: center; 
     color: White;  
     padding:10px;
     
 }
 
 .navigation-option { 
     background-color: white;
     padding: 0 20px 0 20px;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center; 
 }
   
  
 .navigation-option-list {
     list-style-type: none;
     padding: 8px; 
     text-align: center; 
 }
  
 .navigation-option-list-item {
     margin-bottom: 10px;
     border-bottom: 1px solid #ccc; 
     text-align: center;
     padding: 10px;
 }
 
 .navigation-option-list-item-selected {
     margin-bottom: 10px;
     border: 1px solid blue; 
     text-align: center;
     padding: 10px;
     background-color: #ededed;
     color: #0062ff;
     border-radius: 50%; 
     border-width: 2px;
 }
 
 .navigation-option-list-item:hover {
     background-color: #ededed;
     color: #0062ff;
     border: 1px solid #2491ff; /* light-blue */
     border-radius: 50%; 
     border-width: 2px; 
 }
 
 .navigation-option-list-item-text { 
     font-weight: bold;
     text-decoration: none;
     color: #4e5052;
     font-size: 15px;
     transition: color 0.3s ease;   
 }
 
 
 .navigation-option-list-item-text:hover {  
     color: #0062ff;    
 } 
 
 .navigation-option-list-item-text-selected {
     font-weight: bold;
     text-decoration: none;
     color: #4e5052;
     font-size: 15px;
     transition: color 0.3s ease;   
     border-bottom: 1px solid #ccc; 
 }
  
 
 .main_title_text{ 
   padding: 25px;
   font-weight: bold;
   font-size: 30px;
   text-align: center;   
   margin: 0px;
   color: white;  
 } 
 
 .selector-title-text {  
   text-align: center; 
   font-weight: bold;
   color: #332827; 
   flex-wrap: wrap;
   justify-content: space-around;
 }
  
 .btn-card { 
   display:flex;
   float:right; 
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.01s;   
   display: flex;
   justify-content: space-around; 
   flex-direction: column;
   align-items: center;
   background: #00365c;
 }
  
 .btn-card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
 } 
 
 .btn-container {
   width: 100%;
   height: auto; 
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   background: white; 
 }
 
 .btn-container-and-select-text {
   background: linear-gradient(#cbdbdb, #dbdbdb, #ffffff, #ffffff); 
   text-align: center; 
   width: 100%;
   height: 100%;  
 }
 
 .btn { 
   
     -moz-border-radius: 1px;      
     -webkit-border-radius: 0px;      
     background: #3B6AD2;      
     border: none;            
     color: #FFFFFF;   
     display: inline-block;      
     font-family: Arial, Helvetica, sans-serif;      
     font-size: 12px;      
     font-weight: bold;      
     height: 40px;      
     margin: 10px;      
     min-width: 180px;      
     padding: 20px;      
     text-align: center;   
     flex-wrap:wrap;
     justify-content: space-around;
     flex: 1;	 
     height: auto; 
 }
 
 .btn:hover {
   background: linear-gradient(#0d3157, #6295cc); 
   font-weight: bold; 
   background-position: right center;  
   color: #fff;
   text-decoration: none;
   cursor: pointer;
 }
 
 .btn_reset_password {  
     -moz-border-radius: 1px;      
     -webkit-border-radius: 0px;      
     background: gray;      
     border: none;            
     color: white;   
     display: inline-block;      
     font-family: Arial, Helvetica, sans-serif;      
     font-size: 12px;      
     font-weight: bold;      
     height: 40px;      
     margin: 10px;      
     min-width: 180px;      
     padding: 20px;      
     text-align: center;   
     flex-wrap:wrap;
     justify-content: space-around;
     flex: 1;	 
     height: auto; 
 }
 
 .btn_reset_password:hover {
   background: linear-gradient(#0d3157, #6295cc); 
   font-weight: bold; 
   background-position: right center;  
   color: #fff;
   text-decoration: none;
   cursor: pointer;
 }
 
 .data-container {
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     background: light-gray;
     height: auto;
     width: auto;
 }
 
 .data-container-child {
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     border-color: gray;
     border-width: 1px;
     padding: 10px;
     margin: 10px;
     grid-gap: 10px;
     justify-content: flex;
     height: auto;
     width: auto;
 }
  
 .data-container-child:hover {
     background-color: white;
 }
 
 .margins { 
     margin-left: 0%; 
     margin-bottom: 5%;
     min-height: 200px; 
 } 
  
 iframe {
     width: 100%;
     height: 100%;
     border: none;
 }
 
 @media (max-width: 1000px) {
     .main-container {
         flex-direction: column;
         align-items: center;
         padding:10px;
         margin: 10px;
         grid-gap: 10px; 
     }  
     
     .navigation-option-card {   
         transition: 0.01s; 
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: flex;  
         background: #00365c;  /* dark-blue color*/
         height: auto;
         width: 100%;
         border-radius:  5% 5% 0% 0%;
     }
     
     .navigation-option-title {
         font-size: 20px;
         flex: wrap; 
         font-weight: bold; 
         text-align: center; 
         color: White;  
         padding:10px;
         
     }
     
     .navigation-option { 
         background-color: white;
         padding: 0 20px 0 20px;
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center; 
     }
   
     
     .navigation-option {
         list-style-type: none; 
         text-align: center; 
         width: 100%;
         height: 100%;
         margin: 0px;
         border-radius: none;
     }
     
     .navigation-option-list-item:hover{
         border-radius: 0%;
     }
     
     .navigation-option-list {
         list-style-type: none;
         padding: 0px; 
         text-align: center; 
         width: 100%;
         height: auto;
         margin: 0px;
     }
     
     .navigation-option-title {
         font-size: auto;
         flex: wrap; 
         font-weight: bold; 
         text-align: center; 
         color: White;  
         padding:0px;
         
     }
     
     .navigation-option-list-item-selected {
         border-radius: 0%;
         border: none;
         background-color: #cbfcff;
     }
  
     .navigation-option-list-item-text-selected {
         border: none; 
     }
     
     
     .location-filter,
     .btn-card,
     .data-container	{
         width: 100%;
         height: auto;
     }
 } 